services:
  - type: web
    name: pulse-server
    runtime: docker
    healthCheckPath: /v3/api-docs
    initialDeployHook: echo "Deploying Pulse Server"
    envVars:
      - key: SPRING_DATASOURCE_URL
        sync: false
      - key: SPRING_DATASOURCE_USERNAME
        sync: false
      - key: SPRING_DATASOURCE_PASSWORD
        sync: false
      - key: SPRING_DATA_REDIS_HOST
        sync: false
      - key: SPRING_DATA_REDIS_PASSWORD
        sync: false
      - key: SPRING_DATA_REDIS_SSL_ENABLED
        value: "true"
      - key: SPRING_MAIL_HOST
        sync: false
      - key: SPRING_MAIL_USERNAME
        sync: false
      - key: SPRING_MAIL_PASSWORD
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_KEY
        sync: false
      - key: GEMINI_API_KEY
        sync: false
